@import "compass/css3";

.dps {
  display: inline-block;
  padding: 5px 5px;
  margin: 5px 5px;
  background: #ffffff;
  vertical-align: top;
  @include border-radius(2px);
  @include box-shadow(#d1d1d1 0 2px 0px 0px);

  @include transition-property(transform);
  @include transition-duration(0.3s);
}

.dps:hover {
  @include transform(scale(1.05,1.05));
}

