@import "compass/css3";

.newsItem {
  overflow: auto;
  display: inline-block;
  padding: 5px 5px;
  margin: 5px 5px;
  background: #ffffff;
  border-width: 1px;
  border-color: #dcdfe4;
  border-style: solid;
  @include border-radius(1px);
  @include box-shadow(#e3e5eb 0 0 4px 1px);

  div.title {
    a {
      font-size: 15px;
      color: #575757;
      font-weight: bold;
      padding: 2px;
    }
  }

  .description {
    font-size: 12px;
    padding: 2px;
  }

  .source {
    font-size: 7px;
    padding: 2px;
    text-align: left; 
  }

  .image {
    padding: 2px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .twitter {
    font-size: 11px;
    padding: 2px;
    color: #00bffa;
    float: right;
  }

  .facebook {
    font-size: 11px;
    color: #4860a6;
    padding: 2px;
    float: right;
  }

  .icon {
    width: 11px;
    height: 11px;
  }
}
