@import "compass/css3";

.newsItem {
  overflow: auto;
  display: inline-block;
  width: 300px;
  padding: 5px 5px;
  margin: 5px 5px;
  background: #ffffff;
  @include border-radius(2px);
  @include box-shadow(#d1d1d1 0 2px 0px 0px);

  .title {
    font-size: 15px;
    font-weight: bold;
    padding: 2px;
  }

  .description {
    font-size: 12px;
    padding: 2px;
  }

  .source {
    font-size: 7px;
    padding: 2px;
    text-align: right;
  }

  .image {
    padding: 2px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
