@import "views/**/*";

@include sticky-footer(50px, "#app", "#footer", "#inputbar");

html, body, li {
  font-family: Verdana, Geneva, sans-serif;
}

#app {
	overflow: scroll;
  width: 100%;
  height: auto;
  background-color: #e5e4e4;
}

a {
	color: #636363;
}

a:link {
	text-decoration:none;
}
a:visited {
	text-decoration:none;
}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}